login-form {
  .login__form {
    .login__field {
      padding: $welcomePadding;
      &.input-has-focus .login__input {
        border-bottom: $borderWidth solid $secondary;
      }
      .login__input {
        border-bottom: $borderWidth solid $tetriary-blank;
      }
    }
    .login__button {
      margin: auto;
      width: 90%;
      left: 5%;
      background-color: $secondary;
      border-radius: $welcomePadding;
    }
  }
}
