<div class="splash-bg">
</div>
<div class="splash-darken">
</div>
<div
  class="slide__label large bold uppercased medium center">
  witaj w aplikacji <span class="bold secondary-color">Yummy!</span>
</div>
<div
  class="slide__label center no-dots small">
  Aplikacji służącej do zamawiania dań w promocyjnych cenach w wielu rónych lokalach.
</div>
<button
  class="slide__button uppercased bold small"
  ion-button>
  <span class="secondary-color">przeglądaj </span> restauracje i ich oferty
</button>
<ion-icon
  class="arrow"
  name="play">
</ion-icon>
<button
  class="slide__button uppercased bold small"
  ion-button>
  <span class="secondary-color">zamawiaj</span><span class="tetriary-color"> w promocyjnej cenie</span>
</button>
<ion-icon
  class="arrow"
  name="play">
</ion-icon>
<button
  class="slide__button uppercased bold small"
  ion-button>
  <span class="secondary-color">odbieraj </span> na miejscu
</button>
<div
  class="slide__label small bold center no-dots last">
  przesuń by przejść dalej
  <br>
  <ion-icon
    name="play">
  </ion-icon>
</div>