transaction-item {
  .transaction {
    display: grid;
    width: 100vw;
    box-shadow: $bottomShadow;
    padding: $headerHeight / 4;
    .transaction__code,
    .transaction__price,
    .transaction__details,
    .transaction__offers {
      display: flex;
      justify-content: space-between;
      padding: $headerHeight / 12 0;
    }
    .transaction__details,
    .transaction__offers {
      border-bottom: 1px dotted $tetriary;
    }
    .transaction__offers {
      flex-direction: column;
      justify-content: flex-start;
      transition: 0.2s linear;
    }
    .transaction__code {
      border-bottom: 2px dotted $tetriary;
    }
  }
}
