no-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5vh;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  border: 2px dotted $tetriary-blank;
  .icon {
    font-size: 30vw;
    color: $secondary;
  }
}
