<ion-icon
  [ngClass]="(mode === 'CART' ||  mode === 'MENU' || mode === 'BACK') ? '' : 'border'"
  [class.selected]="bckg === 'selected'"
  [class.red]="bckg === 'red'"
  [class.gray]="bckg === 'gray'"
  [name]="(mode === 'MAP') ? 'pin' : (mode === 'PLACES') ? 'home' : (mode === 'OFFERS') ? 'restaurant' : (mode === 'CART') ? 'cart' : ''">
  <div
    [ngClass]="bckg"
    class="bckg">
  </div>
  <div
    *ngIf="extBorder"
    class="ext-border"
    [ngClass]="extBorder">
  </div>
  <div 
    [hidden]="!(mode === 'MENU' || mode === 'BACK')"
    [class.active]="mode === 'BACK'"
    class="con">
    <div class="bar arrow-top-r"></div>
    <div class="bar arrow-middle-r"></div>
    <div class="bar arrow-bottom-r"></div>
  </div>
</ion-icon>