<form
  class='login__form'
  [connectForm]="form$ | async"
  [formGroup]="form"
  (ngSubmit)="submit()">
  <div
    class="login__label bold uppercased">
    rejestracja
  </div>
  <ion-item
    class="login__field">
    <ion-input
      class="login__input medium"
      formControlName="login"
      [placeholder]="'email'"
      type="email"
      clearInput>
      </ion-input>
  </ion-item>
  <ion-item
    class="login__field">
    <ion-input
      class="login__input medium"
      formControlName="password"
      [placeholder]="'PASSWORD' | translate"
      type="password"
      clearInput>
    </ion-input>
  </ion-item>
  <ion-item
    class="login__field">
    <ion-input
      class="login__input medium"
      formControlName="passwordConfirm"
      [placeholder]="'powtórz hasło'"
      type="password"
      clearInput>
    </ion-input>
  </ion-item>
  <button
    class="login__button uppercased bold medium"
    ion-button
    type="submit">
    zarejestruj się
  </button>
  <div
    (click)="loginEmitter.next()"
    tappable
    class="login__label bold center">
    wróć do panelu logowania
  </div>
</form>