$font-path: "../assets/fonts";

@import "ionic.globals";

// //Colors

// Default

$text-color:        #000;
$background-color:  #fff;

$colors: (
  primary:    #E92F44,
  secondary:  #E92F44,
  tetriary:     #000000,
  tetriary-blank:  rgb(153, 153, 153)
);

// App

$primary: #FFFFFF;
$secondary: #E92F44;
$secondary-active: rgb(247, 158, 167);
$tetriary: #000000;
$tetriary-blank: rgb(153, 153, 153);
$fourth: rgb(241, 244, 246);

$topShadow: 0px -3px 5px 0px $tetriary-blank;
$bottomShadow: 0px 3px 5px 0px $tetriary-blank;
$roundShadow: 0px 0px 13px 0px $tetriary-blank;

// // Dimensions

// Global

$fontSmall: 1.2rem;
$fontMedium: 1.5rem;
$fontLarge: 1.8rem;
$fontLogo: 2.4rem;

$iconLogo: 2.4rem;
$borderWidth: 0.55px;
$headerHeight: 9.7vh;
$contentHeight: 90.3vh;
$sideContentHeight: 83.5vh;
$bucketSummaryHeight: 12vh;

// Welcome Page

$welcomePadding: 12px;
$welcomeRadius: $welcomePadding * 2;

// // Keyframes

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

@keyframes rotate {
  0%    { transform: rotate(0deg);  }
  100%  { transform: rotate(360deg);  }
}

@keyframes rotateShift {
  0%    { transform: rotate(360deg);  }
  100%  { transform: rotate(0deg);  }
}

// // Font

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/ubuntu/Ubuntu-R.ttf");
}

@font-face {
  font-family: "UbuntuBold";
  src: url("../assets/fonts/ubuntu/Ubuntu-B.ttf");
}

@font-face {
  font-family: "UbuntuItalic";
  src: url("../assets/fonts/ubuntu/Ubuntu-RI.ttf");
}

@font-face {
  font-family: "UbuntuLight";
  src: url("../assets/fonts/ubuntu/Ubuntu-L.ttf");
}

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
