<img 
  (click)="showEmitter.next()"
  tappable
  *ngIf="offer?.image"
  [src]="offer?.image"
  class="photo__image" 
/>
<div
(click)="showEmitter.next()"
tappable
  class="photo__placeholder">
  <ion-icon
    class="monster"
    name="pizza">
  </ion-icon>
</div>
<div 
  (click)="showEmitter.next()"
  tappable
  class="item__badge primary-color">
  <div
    class="badge__dates bold small">
    {{ offer?.startDate }} - {{ offer?.endDate }}
  </div>
  <div
    class="badge__count bold medium">
    x{{ offer?.count }}
  </div>
</div>
<div
  (click)="showEmitter.next()"
  class="item__title">
  <span class="small bold ellipsis-2">
    {{ offer?.name }}
  </span>
</div>
<div
  (click)="showEmitter.next()"
  tappable
  class="item__order-details">
  <span class="small italic ellipsis-3">
    {{ offer?.description }}
  </span>
</div>
<div
  (click)="showEmitter.next()"
  tappable
  class="item__price">
  <span class="medium bold secondary-color">
    {{ "-" + offer?.discount + "%" }}
  </span>
  <br>
  <span class="small crossed">
    {{ offer?.price | currency: 'PLN ' }}  
  </span>
  <br>
  <span class="medium bold">
    {{ offer?.calculatedPrice | currency: 'PLN ' }}  
  </span>
</div>
<div
  class="item__button">
  <button 
    (click)="addToBucket()"
    *ngIf="!isBucket"
    class="button__fab" 
    ion-fab>
    <ion-icon 
      name="cart">
    </ion-icon>
  </button>
  <button 
    (click)="removeFromBucket()"
    *ngIf="isBucket"
    class="button__fab" 
    ion-fab>
    <ion-icon 
      name="md-close">
    </ion-icon>
  </button>
</div>