

// Fonts global

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.uppercased {
  text-transform: uppercase;
}

.bold {
  font-weight: 500;
}

.small {
  font-size: $fontSmall;
}

.medium {
  font-size: $fontMedium;
}

.large {
  font-size: $fontLarge;
}
