//Global fixes

.ion-page {
  background-color: #fff;
}

.header-ios, .side-header {
  top: 16px !important;
}

.ios {
  .modal__close-button {
    top: 16px !important;
  }
}

.content-ios {
  margin-top: 16px;
  .scroll-content {
    padding-top: 16 !important;
    padding-bottom: 16px !important;
  }
}

ion-input {
  -webkit-transform: translateZ(0) !important;
}

// Buttons Fab Global 

.button__fab {
  width: $headerHeight / 1.3;
  height: $headerHeight / 1.3;
}

// Fonts global

div, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu';
}

.primary-color {
  color: $primary;
}

.secondary-color {
  color: $secondary;
}

.tetriary-color {
  color: $tetriary;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.uppercased {
  text-transform: uppercase;
}

.light {
  font-family: 'UbuntuLight' !important;
}

.bold {
  font-family: 'UbuntuBold' !important;
}

.small {
  font-size: $fontSmall;
}

.medium {
  font-size: $fontMedium;
}

.large {
  font-size: $fontLarge;
}

.monster {
  font-size: 10vw;
}

.italic {
  font-family: 'UbuntuItalic' !important;
}

.crossed {
  text-decoration: line-through;
}

.ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}