page-welcome {
  .scroll-content {
    display: grid;
    align-content: center;
    .splash-bg {
      position: absolute;
      background: url('../assets/img/noodles.jpg') no-repeat transparent;
      background-size: cover;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-repeat: repeat-x;
      filter: blur(5px);
    }
    .login {
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-row-gap: $welcomePadding;
      width: 80%;
      margin: auto;
      padding: $welcomePadding*2 $welcomePadding;
      border-radius: $welcomeRadius;
      .login__logo {
        text-align: center;
        color: $tetriary-blank;
        .logo__icon {
          font-size: $iconLogo;
        }
        .logo__title {
          font-size: $fontLogo;
        }
      }
    }
    .signup__button {
      background-color: $tetriary-blank;
      position: fixed;
      bottom: 0;
      margin-bottom: 0;
    }
  }



}
