side-header {
  .back-button {
    display: none !important;
  }
  .header {
    height: $headerHeight * 1.5;
    background: $primary;
    padding: 0 $headerHeight / 2;
  }
  .toolbar {
    padding: $headerHeight / 4 0;
    height: 100%;
  }
  .toolbar-background {
    border-bottom: 1px dotted $tetriary !important;
    background: $primary !important;
  }
  .toolbar-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .right__side {
    display: flex;
    flex-direction: column;
  }
  .close__button {
    margin-bottom: -6px;
    align-self: flex-end;
    justify-self: flex-end;
    border: 0;
    color: $secondary;
    position: relative;
    .icon {
      padding: 0;
    }
    &.activated {
      color: $secondary !important;
      background: $primary !important;
    }
  }
}
