side-header {
  .header {
    height: $headerHeight * 1.4;
    background: $primary;
    border: 0;
  }
  .side-header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px auto;
    align-items: end;
    padding: $headerHeight / 4 0;
    margin: $headerHeight / 4 $headerHeight / 2;
    border-bottom: 1px dotted $tetriary;
    background: $primary;
  }
  .content__close {
    grid-column: 1/3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .close__button {
    border: 0;
    color: $secondary;
    font-size: $fontLarge;
    position: absolute;
    top: $headerHeight / 6.5;
    right: $headerHeight / 2;
    .icon {
      padding: 0;
    }
    &.activated {
      color: $secondary !important;
      background: $primary !important;
    }
  }
}
