<div class="splash-bg">
</div>
<div class="splash-darken">
</div>
<div
  class="slide__label">
</div>
<div
  class="slide__label center no-dots small">
  Sprawdź jakie lokale, oferujące promocyjne oferty, znajdują się w twojej okolicy lub przeglądaj bezpośrednio oferty
</div>
<div
  class="slide__section slide__label">
  <span class="medium uppercased bold">
    lista <span class="secondary-color">restauracji</span><br>
  </span>
  <span class="small">
    Wyszukuj lokale z pomocą opcji wyszukiwania, sprawdź które z nich są dostępne. Możesz również sprawdzić ich ocenę lub to w jakiej odległości znajdują się od Ciebie.
  </span>
  <list-mode-icon
    [mode]="'PLACES'">
  </list-mode-icon>
</div>
<div
  class="slide__section slide__label">
  <span class="medium uppercased bold">
    lista <span class="secondary-color">ofert</span><br>
  </span>
  <span class="small">
    Przeglądaj oferty pod względem ich ceny lub rodzaju dania. Z tą możesz bezpośrednio zakupić interesującą Cię ofertę.
  </span>
  <list-mode-icon
    [mode]="'OFFERS'">
  </list-mode-icon>
</div>
<div
  class="slide__label small bold center no-dots last">
  przesuń by przejść do aplikacji
  <br>
  <ion-icon
    name="play">
  </ion-icon>
</div>