slide-third {
  .splash-bg {
    background: url('../assets/img/slide-third.jpg') no-repeat transparent;
  }
  .slide__section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 4fr;
    span.small {
      align-self: center;
      margin-top: $welcomePadding / 1.7;
    }
    list-mode-icon {
      grid-column: 2/2;
      grid-row: 1/3;
      justify-self: flex-end;
      align-self: flex-start;
    }
  }
  .splash-darken {
    height: 360px;
  }
}
