<ion-header 
  [hidden]="!(routeName !== 'slide' && routeName !== 'profile' && routeName !== 'welcome' && routeName !== 'support' && routeName !== 'transactions')"
  no-border>
  <ion-navbar>
    <ion-buttons 
      start 
      class="buttons-start">
      <button
        (click)="backOrMenu()"
        class="header-button button-start short" 
        ion-button 
        icon-only 
        round>
        <list-mode-icon [mode]="routeName === 'code' || routeName === 'initial' || routeName === 'map' || routeName === 'list' || routeName === 'offers' || !routeName ? 'MENU' : 'BACK'"></list-mode-icon>
      </button>
      <button 
        (click)="switchPage('list')"
        class="header-button button-start long" 
        ion-button 
        icon-only 
        round>
        <list-mode-icon [mode]="'PLACES'"></list-mode-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <button
        (click)="switchPage('map')"
        class="header-button title-button"
        ion-button 
        icon-only 
        round>
        <list-mode-icon [mode]="'MAP'"></list-mode-icon>
      </button>
    </ion-title>
    <ion-buttons
      class="buttons-end"
      end>
      <button 
        (click)="switchPage('offers')"
        class="header-button button-end long" 
        ion-button 
        icon-only 
        round>
        <list-mode-icon [mode]="'OFFERS'"></list-mode-icon>
      </button>
      <button 
        (click)="goToBucket()"
        class="header-button button-end short" 
        ion-button 
        icon-only 
        round>
        <ion-badge
          [hidden]="(bucketCount$ | async) === 0"
          class="bucket__badge">
          {{ bucketCount$ | async }}
        </ion-badge>
        <list-mode-icon [mode]="'CART'"></list-mode-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>