yummy-header {
  .header {
    height: $headerHeight;
    .toolbar {
      height: $headerHeight;
      padding: 4px 0;
    }
    .toolbar-background {
      background: $primary;
      height: $headerHeight;
    }
    .toolbar-title {
      height: $headerHeight;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logo {
        height: $headerHeight / 1.3;
      }
    }
    .title-button {
      height: $headerHeight / 1.3;
      width: $headerHeight / 1.3;
    }
    .bar-buttons {
      height: $headerHeight / 1.3;
      width: 30vw;
      display: flex;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      .bar-button {
        height: $headerHeight / 1.3;
        margin: 0;
        padding: 0;
        z-index: -1;
        border-radius: 0;
        background: $secondary;
        &.long {
          width: 18vw;
          &.activated {
            opacity: 1;
          }
        }
        &.short {
          width: 12vw;
          z-index: 6;
          &.activated {
            opacity: 1;
          }
        }
        &.selected {
          background: $fourth;
        }
      }
      &.buttons-start {
        .long {
          order: 1;
          list-mode-icon {
            margin-left: 9vw;
            position:absolute;
          }
        }
        .short {
          order: 0;
          list-mode-icon {
            margin-left: 6vw;
            position: absolute;
          }
        }
      }
      &.buttons-end {
        .long {
          order: 0;
          list-mode-icon {
            margin-left: -9vw;
            position: absolute;
          }
        }
        .short {
          order: 1;
          list-mode-icon {
            margin-left: -6vw;
            position: absolute;
          }
        }
      }
    }
    .buttons-start {
      order: 0;
    }
    .back-button {
      display: none;
    }
    .bucket__badge {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: -$headerHeight / 1.7;
      height: $headerHeight / 3;
      width: $headerHeight / 3;
      border: 1px solid $primary;
      box-sizing: border-box;
      border-radius: $headerHeight / 1.5;
      background: $secondary;
      color: $primary;
    }
  }
}
