yummy-header {
  .header {
    height: $headerHeight;
    .toolbar {
      height: $headerHeight;
      padding: 4px 0;
    }
    .toolbar-background {
      background: $primary;
    }
    .toolbar-title {
      height: $headerHeight;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logo {
        height: $headerHeight / 1.4;
      }
    }
    ion-buttons.bar-buttons {
      margin: 0;
      width: $headerHeight / 1.4;
      height: $headerHeight / 1.6;
      background: $secondary;
    }
    .buttons-start {
      order: 0 !important;
    }
    .header-button {
      color: white;
      width: $headerHeight / 1.6;
      height: $headerHeight / 1.6;
      background: $secondary;
      margin: 0;
      &.button-start {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        float: right;
        margin-right: calc(-54px / 1.6 / 2);
        .button-inner {
          margin-left: calc(-54px / 1.6 / 2);
        }
        .icon {
          font-size: 1em;
        }
      }
      &.button-end {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        float: left;
        margin-left: calc(-54px / 1.6 / 2);
        .button-inner {
          margin-left: calc(54px / 1.6 / 2 / 1.6);
        }
        .icon {
          font-size: 1em;
        }
      }
    }
  }
}
