<ion-header no-border>
  <ion-navbar>
    <ion-buttons start class="buttons-start">
      <button class="header-button button-start" ion-button icon-only round menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img class="logo" src="assets/icon/yummy-logo.png" />
    </ion-title>
    <ion-buttons end>
      <button class="header-button button-end" ion-button icon-only round>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>