<ion-header 
  [hidden]="!(routeName !== 'slide' && routeName !== 'profile' && routeName !== 'welcome' && routeName !== 'support' && routeName !== 'transactions')"
  no-border>
  <ion-navbar>
    <ion-buttons 
      start 
      class="buttons-start">
      <button
        (click)="backOrMenu()"
        class="header-button button-start short" 
        ion-button 
        icon-only 
        round>
        <list-mode-icon [mode]="routeName === 'code' || routeName === 'initial' || routeName === 'map' || routeName === 'list' || routeName === 'offers' || !routeName ? 'MENU' : 'BACK'"></list-mode-icon>
      </button>
      <button 
        [class.selected]="routeName === 'list'"
        (click)="switchPage('list')"
        class="header-button button-start long" 
        ion-button 
        icon-only 
        round>
        <list-mode-icon 
          [mode]="'PLACES'" 
          [bckg]="routeName === 'list' ? 'selected' : 'red'">
        </list-mode-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <button
        [class.selected]="routeName === 'map'"
        (click)="switchPage('map')"
        class="header-button title-button"
        ion-button 
        icon-only 
        round>
        <list-mode-icon 
          [mode]="'MAP'" 
          [bckg]="routeName === 'map' ? 'selected' : 'red'">
        </list-mode-icon>
      </button>
    </ion-title>
    <ion-buttons
      class="buttons-end"
      end>
      <button 
        [class.selected]="routeName === 'offers'"
        (click)="switchPage('offers')"
        class="header-button button-end long" 
        ion-button 
        icon-only 
        round>
        <list-mode-icon 
          [mode]="'OFFERS'" 
          [bckg]="routeName === 'offers' ? 'selected' : 'red'">
        </list-mode-icon>
      </button>
      <button 
        [class.selected]="routeName === 'bucket'"
        (click)="goToBucket()"
        class="header-button button-end short" 
        ion-button 
        icon-only 
        round>
        <div
          [hidden]="(bucketCount$ | async) === 0"
          class="bold small bucket__badge">
          {{ bucketCount$ | async }}
        </div>
        <list-mode-icon 
          [mode]="'CART'" 
          [bckg]="routeName === 'bucket' ? 'selected' : 'red'">
        </list-mode-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>