<div class="splash-bg">
</div>
<div class="splash-darken">
</div>
<list-mode-icon
  [mode]="'MAP'">
</list-mode-icon>
<div
  class="slide__label medium bold uppercased center">
  Mapa
</div>
<div
  class="slide__label center">
  <div class="small">Sprawdź jakie lokale, oferujące promocyjne oferty, znajdują się w twojej okolicy</div>
  <img src="assets/icon/slide-two__path.svg" />
</div>
<div
  class="slide__label no-dots small">
  Czerwony punkt określa twoją aktualną pozycję a przypinki ozna- czają lokale korzystające z naszej aplikacji
  <br><span class="bold">Kliknij na nie by sprawdzić lokal</span>
</div>
<div
  class="slide__label no-dots small">
  Skorzystaj z opcji wyszukiwania by znaleść lokale w dogodnej dla Ciebie odległości i z twoim ulubionym rodzajem kuchni
</div>
<div
  class="slide__label small bold center no-dots last">
  przesuń by przejść dalej
  <br>
  <ion-icon
    name="play">
  </ion-icon>
</div>